<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Including ajax file -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">


  <!-- Link to styles CSS -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Link to application JS -->
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
